<ion-view view-title="Register">
	<ion-content>
		<div class="center">
			<h1>Register</h1>
			<h4>Comes with free dust of appearance!</h4>
			<h6>*Doesn't actually come with free dust of appearahce.</h6>
			<form ng-submit="createUser()" name="login-form" ng-controller="LoginCtrl" id="loginForm" class="padding" novalidate>
				<label class="item-floating-label">
					<span class="input-label">Email</span>
					<input ng-model="newUser.email" type="text" name="email" class="input radiant" placeholder="Email" required>
				</label>
				<label class="item-floating-label">
					<span class="input-label">Password</span>
					<input ng-model="newUser.password" type="password" name="password" class="input radiant" placeholder="Password" required ng-minlength=8>
				</label>
				<input type="submit" id="createAccountButton" class="button radiant" value="Create Account">
			</form>
		</div>
	</ion-content>
</ion-view>
